@model ClassesDAO.RESTAURANTE

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>RESTAURANTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CODIGO }) |
    @Html.ActionLink("Voltar", "Index")
</p>
