<div class="jumbotron">
    <h1>Cardápio Digital</h1>
    <p class="lead">Este sistema tem o intuíto de gerenciar a comercialização de pratos À la carte.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Sobre &raquo;</a></p>
</div>
